# Laravel
/bootstrap/compiled.php
/vendor

# Configuration
/app/config/local
/app/config/staging
/app/config/production

# Basset development collections
/public/assets/compiled/public
/public/assets/compiled/admin
/public/builds
/public/data
/public/newassets

# Composer
composer.phar
composer.lock

# OS
.DS_Store
.idea/
vagrant
.vagrant

# Packages
_ide_helpers.php
/nbproject/private/
/public/upload/users/
/public/upload/
/public/packages
/app/storage/debugbar/
/app/storage/libpng-1.2.5.tar.gz

_release
/node_modules
/resources/assets/vendor
/resources/vendor
/resources/altair/assets/js/concat_common.js
/resources/altair/assets/js/concat_common.min.js
resources/navitas/css/navitas_theme.min.css

resources/navitas/js/custom/datatables_uikit.min.js
