.slider.slider-horizontal {
    width:100%;
}
.valid-range .slider-selection  {
    border-color: green;
}
.valid-range .slider-track  {
    background: orange;
}
.warning-min .slider-track {
    background: orange;
}
.warning-min .slider-selection {
    border-color: red;
}
.warning-max .slider-track {
    background: red;
}
.warning-max .slider-selection {
    border-color: orange;
}